/*
 * Name: main.css
 * Site: AROV Content Management 
 * Authors: Moises Melano
 * 		Joshua Frea
 *		Juan Hernandez
 * Date Last Modified: 12.06.13
 */

@charset "utf-8";
* {
	background: transparent;
	margin: 0; padding: 0;
}

html, body {
	height: 100%;
	width: 100%;
	background-color: #153455;
}

a {
	background: transparent;
	text-decoration: none;
	color: #153455;
}

a:hover {
	color: #F60;
}

input {
	background: rgba(255, 255, 255, 05);
	border: none;
	height: 20px;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;	
}

input[type=text] {
	width: 120px;
	margin-left: 3px;
}

textarea {
	margin-left: 3px;
	background-color: #FFF;
	resize: none;
	outline: none;
	overflow: auto;
	width: 609px;
}

input[type=password] {
	width: 120px;
}

input[type=submit] {
	width: 60px;
	text-align: center;
}

input[type=radio] {
	color: #000000;
	margin-left: 2px;
	margin-bottom: -5px;
	vertical-align: bottom;
}

select {
	width: 100px;
	color: #153455;
	background-color: #FFF;
		border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;	
}

.textbox:focus {
	box-shadow: 0 0 10px #F60;
	-moz-box-shadow: 0 0 10px #F60;
	-webkit-box-shadow: 0 0 10px #F60;
}

.desbox:focus {
	box-shadow: 0 0 10px #F60;
	-moz-box-shadow: 0 0 10px #F60;
	-webkit-box-shadow: 0 0 10px #F60;
}

/* Shared Classes */
.container {
	height: inherit;
	width: 900px;
	min-height: inherit;
	margin: auto;
	background: transparent;	
}

/* Wrapper */
#wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: -50px auto -25px;
}

/* Banner */
#banner {
	height: 150px;
	position: relative;
}

#banner h1 {
	position: absolute;
	bottom: 5px;
	margin-left: 27.5px;
	color: #FFF;
}

#banner .container {
	border-right-style: solid;
	border-right-width: 25px;
	border-right-color: #FFF;
}

/* Nav */
#nav {
	height: 50px;
	background: #FFFFFF;
}

#nav ul {
	background: transparent;
	margin-left: 15px;
}

#nav ul li {
	background: transparent;
	color: #153455;
	display: inline-block;
	height: 45px;
	width: auto;
	text-align: center;
	line-height: 45px;
	vertical-align: middle;
	margin-top: 2px;
	margin-right: 15px;
}

#nav ul li a {
	font-size: 18px;
}

/* Main */
#main {
	min-height: 550px;
	color: #FFF;
	font-size: 1em;
}

#main a {
	color: #FFFFFF;
}

#main a:hover {
	color: #F60;
}

#main .container {
	border-left-style: solid;
	border-left-width: 25px;
	border-left-color: #FFF;
}

#main ul {
	background: transparent;
	margin-left: 5px;
}

#main ul li {
	background:transparent;
	text-decoration: none;
	display: inline-block;
	margin-right: 15px;
}

#main .current {
	color: #F60;	
}

#main p {
	margin-left: 2.5px;
}

#main table thead tr th {
	border-collapse: separate;
	border-bottom: 1px solid #FFF;
}

#main table thead tr th:last-child {
	border: none;	
}

#main table td {
	height: 30px;
	vertical-align: middle;
	margin-right: 5px;
}

#checkbox {
	width: 100px;
	height: 100px;
	margin-left: 5px;
	background-color: #FFF;
	color: #000;
}

#checkbox label {
	display: block;
	text-indent: 5px;
	color: #000;
}

#checkbox input {
	vertical-align: middle;
	color: #000;
}

#checkbox label span {
	vertical-align: middle;
}

#checkbox p {
	color: #000;
}

.label {
	text-align: right;
	width: 120px;
}

.node {
	min-height: 110px;
	width: inherit;
	background: #FFFFFF;
	color: #000;
	border-bottom: 1px dashed #E4B786;
}

.node img {
	margin-top: 5px;
	margin-right: 5px;
	float: left;
}

.node p {
	color: #000000;
}

.node table {
	float: left;
	
}

/* Footer */
#footer {
	height: 25px;
	background: #E4B786;
	margin-top: -25px;
	text-align: right;
}

#footer p {
	color: #153455;
}

/* Effects */
.shadow {
  	-moz-box-shadow:    3px 3px 5px #000;
  	-webkit-box-shadow: 3px 3px 5px #000;
  	box-shadow:         3px 3px 5px #000;
}

.current {
	color: #F60;	
}

.clear {
	clear: both;
}

.left {
	float: left;
}

.right {
	float: right;
}